h1{
    background-color: blue;
    text-align: center;
    padding: 25px;
    color: white;
}

h2{
    color: blue;
}

li{
    color: gray;
}
#fruits-title{
    color: lightpink;
}
.important-places{
    color: blueviolet;
}

/* .yellow-bg{
    background-color: yellowgreen !important;
} */

.large-text{
    font-size: 2em;
}
.text-center{
    text-align: center;
}